.side-bar
  .side-bar__header
    .side-bar__header__box
      .side-bar__header__box__user-name masa
      .side-bar__header__box__menu
        =link_to "#", class: "side-bar__header__box__menu__new-groups" do
          = icon('fas', 'edit', class: "groups__icon")
        =link_to "#", class: "side-bar__header__box__menu__edit-user" do
          = icon('fa', 'cog', class: "user__icon")
  .side-bar__group-list
    .side-bar__group-list__group
      .side-bar__group-list__group__name techcamp
      .side-bar__group-list__group__messages まだメッセージはありません